@model List<BudgetApplicationView.Models.AccountManagementViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Accounts</h2>
@*@Html.ActionLink("Create new Account", "CreateAccounts", "Accounts")*@
<p>Find below the list of accounts that you have created</p>
@if (Model == null || !Model.Any())
{
    <p>You haven't created any accounts</p>
}
else
{
    <table>
        <thead>
            <tr>
                Name
            </tr>
            <tr>
                Balance
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>
                        @account.Name
                    </td>
                    <td>
                        @account.Balance
                    </td>
                    <td>
                        @Html.ActionLink("View Transactions", "ViewTransactions", "Transaction", new { id = account.Id }, null)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}


